@charset 'UTF-8';

.catalog_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    height:500px;
}

.tovar_list {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tovar_list div {
    width: 120px;
}