@charset 'UTF-8';

.footer {
  border-top: 1px solid #606060;
  text-align: left;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  height: 30px;
  background-color: rgba(225, 235, 235, 0.973);
}